# Vite environment variables (use VITE_ prefix)

# Config#
VITE_MODE="development"
VITE_APP_NAME="oribet"
VITE_IS_DEMO="true"

# Auth features

# Domain URLs
VITE_API_URL="https://api.asdfbet-staging.com"
VITE_SOCKET_URL="https://ws.asdfbet-staging.com"
VITE_CHAT_SOCKET_URL="https://chat.asdfbet-staging.com"

# Giphy SDK
VITE_GIPHY_SDK_API_KEY=""

# FingerprintJS SDK
VITE_FINGERPRINT_API_KEY=""
VITE_FINGERPRINT_REGION="eu" # e.g. "us", "eu"

# Upgaming Sportbook
VITE_SB_CLIENT_ID=""
VITE_SB_CLIENT_NAME=""
